.mainnav ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  justify-content: center;
}

.mainnav ul li{
  justify-content: center;
  margin: 30px 10px 30px 10px;
  font-size: 14px;
  line-height: 20px;
}